<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>stack-lite</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <div class="top-bar">
        <div class="logo-header">
            <div id="logo-div"></div>
            <div id="app-name">Stack Overflow lite</div>
        </div>
        <div class="log-bar">
            <ul list-style-type="none">
                <li>
                    <a href="./signin.html">Sign in</a>
                </li>
                <li>
                    <a href="./signup.html">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mini-top-bar">
        <div class="home">
            <i class="material-icons">
                <a href="./index.html">home</a>
            </i>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-left">
        </div>    
        <div class="main-content-right">
            <div class="right-header">
                <form class="home-quest">
                    <input type="text" id="search" placeholder="search">
                </form>
                <div class="btn-ask-box">
                    <div class="btn-ask">Ask</div>
                </div>
            </div>
            <div class="right-content">
                <div class="quest-header">Top Questions</div>
                <div class="quest-container">
                    <h2><a href="./question.html">Delete and EDIT API's using expressJS</a></h2>
                    <p>I created DELETE API and in the callback function i have written .remove function to delete a product if the id i have given is present.But when i am giving incorrect input, the result is receiving ...</p>
                </div>
                <div class="quest-container">
                    <h2>How do you become a Python back-end developer? What are the entrance requirements? What do they do?</h2>
                </div>
                <div class="quest-container">
                    <h2>How have software developer salaries changed over time in relation to cost of living?</h2>
                </div>
                <div class="quest-container">
                    <h2>Where do I go to download the Roblox template?</h2>
                </div>
                <div class="quest-container">
                    <h2>What are the three goals of algorithms?</h2>
                </div>
                <div class="quest-container">
                    <h2>What would you choose: Native App or Progressive Web App?</h2>
                </div>
                <div class="quest-container">
                    <h2>How important is it to learn Bootstrap? I prefer to write my own style instead of memorizing Twitter's CSS style.</h2>
                </div>
                <div class="quest-container">
                    <h2>As an expert level python programmer, what are some new things you still learn about Python?</h2>
                </div>
                <div class="quest-container">
                    <h2>What should I learn next if my goal is to be a software engineer? I have been learning Python but feel that Im not taking the "leap" to the next level that I should be. (Details in comments about what I have been learning and thanks for any guidance)</h2>
                </div>
                <div class="quest-container">
                    <h2>How profitable can a website building business be that focuses solely on Wordpress?</h2>
                </div>
            </div>
        </div>
    </div>

</body>

</html>