<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>stack-lite</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <div class="top-bar">
        <div class="logo-header">
            <div id="logo-div"></div>
            <div id="app-name">Stack Overflow lite</div>
        </div>
    </div>
    <div class="mini-top-bar">
        <div class="home">
            <i class="material-icons">
                <a href="./index.html">home</a>
            </i>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-left">
            <div class= "left-mini">
                <div class="public"><i class="material-icons">public</i></div>
                <a href= "./questions.html">StackOverflow</a>
            </div>
            <div class= "left-mini">
                    <div class="public"><i class="material-icons">person</i></div>
                    <a href= "./profile.html">Profile</a>
            </div>
        </div>    
        <div class="main-content-right">
            <div class="right-header">
                <form class="home-quest">
                    <input type="text" id="search" placeholder="search">
                </form>
                <div class="btn-ask-box">
                    <a id="anc-ask" href= "./ask.html"><div class="btn-ask">Ask</div></a>
                </div>
            </div>
            <div class="right-content">
                <div class="quest-header">All Questions</div>
                <div id= "all-quest-num">4 Questions</div>
                <div class="quest-container">
                    <h2><a href="./question.html">Delete and EDIT API's using expressJS</a></h2>
                    <p>I created DELETE API and in the callback function i have written .remove function to delete a product if the id i have given is present.But when i am giving incorrect input, the result is receiving ...</p>
                </div>
                <div class="quest-container">
                    <h2><a href="./question.html">Delete and EDIT API's using expressJS</a></h2>
                    <p>I created DELETE API and in the callback function i have written .remove function to delete a product if the id i have given is present.But when i am giving incorrect input, the result is receiving ...</p>
                </div>
                <div class="quest-container">
                    <h2><a href="./question.html">Delete and EDIT API's using expressJS</a></h2>
                    <p>I created DELETE API and in the callback function i have written .remove function to delete a product if the id i have given is present.But when i am giving incorrect input, the result is receiving ...</p>
                </div>
                <div class="quest-container">
                    <h2><a href="./question.html">Delete and EDIT API's using expressJS</a></h2>
                    <p>I created DELETE API and in the callback function i have written .remove function to delete a product if the id i have given is present.But when i am giving incorrect input, the result is receiving ...</p>
                </div>
          
            </div>
        </div>
    </div>

</body>

</html>